<div class="row">
  <!-- <div id="myDiv" class="col-lg-4 col-md-6 col-sm-6">
      <div class="poker-chip chip-1" onclick="mostrarAlerta(myDiv.style.backgroundColor)">{{ moneySimbol }}</div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="poker-chip chip-5" onclick="mostrarAlerta(5)">$5</div>
  </div> -->
  <div class="col-sm-3 poker-chip" [ngStyle]="{'background-color': chip.color}" >
    <!-- <span>{{ chip.value }}</span> -->
    <div>{{ chip.value }}</div>
    <br>
    <!-- <div style="font-size: 13px;">{{ chip.quantityAvailable }}</div> -->
  </div>
  <div class="col-sm-3" style="justify-content: center;
  align-items: center;">
    <span>Disp. : {{ chip.quantityAvailable }}</span>
  </div>

  <div class="col-sm-3" style="justify-content: center;
  align-items: center;">
    <span>PerPerson. : {{ chip.quantityPerPerson }}</span>
  </div>

  <div class="col-sm-3" style="justify-content: center;
  align-items: center;">
    <span>Monto Repartido en esta moneda : {{ chip.quantityPerPerson }}</span>
  </div>
  <!-- Repite las fichas para otros valores -->
</div>
<!-- Repite las filas según sea necesario -->
