
<div class="row mb-3">
  <div class="col-sm-3">
    <div class="p-3 border poker-chip" [ngStyle]="{'background-color': chip.color}">
      <div>{{ chip.value }}</div>
    </div>
  </div>

  <div class="col-sm-3 d-flex align-items-center">
    <div>
      <span class="d-block">Fichas disponibles:</span>
      <span class="fw-bold">{{ chip.quantityAvailable }}</span>
    </div>
  </div>

  <div class="col-sm-3 d-flex align-items-center">
    <div>
      <span class="d-block">Fichas por persona:</span>
      <span class="fw-bold">{{ chip.quantityPerPerson }}</span>
    </div>
  </div>

  <div class="col-sm-3 d-flex align-items-center">
    <div>
      <span class="d-block">Monto repartido por persona:</span>
      <span class="fw-bold">{{ chip.quantityPerPerson! * chip.value * chip.quantityPerPerson!}}</span>
    </div>
  </div>
</div>
