<section>
  <h2>Repartidor de fichas de poker</h2>
  <hr>
</section>


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="mb-3 row align-items-center">
      <label class="col-sm-3 col-form-label">Jugadores</label>
      <div class="col-sm-3">
        <input #cantidadJugadores type="number" formControlName="quantityPlayers" class="form-control">
      </div>
    </div>

    <div class="mb-3 row align-items-center">
      <label class="col-sm-3 col-form-label">Monto de ingreso</label>
      <div class="col-sm-3">
        <input type="text" formControlName="amount" class="form-control" placeholder="Monto por jugador">

      </div>
    </div>

    <div class="mb-3 row align-items-center">
      <label class="col-sm-3 col-form-label">Agregar ficha</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c"
            formControlName="color" title="Choose your color">
          <input class="form-control" placeholder="Asignar valor" formControlName="chipValue">
          <input class="form-control" placeholder="# fichas disponibles" formControlName="chipsAvailable">
          <button (click)="onAddChip()" class="btn btn-outline-primary"
            type="button" [innerHTML]="'Agregar ' + '<i class=\'bi bi-plus\'></i>'"></button>

        </div>
      </div>
    </div>
    <div class="mb-3 row align-items-center">
      <label class="col-sm-3 col-form-label">Fichas agregadas</label>
      <div class="col-sm-9">
        <div class="mb-1" *ngFor="let chip of chips">
          <div class="input-group">
            <poker-chip [chip]="chip" [cantidadJugadores]="4"></poker-chip>
          </div>

          <button (click)="onDeleteChip(chip)" class="btn btn-outline-danger" type="button">
            <i class="bi bi-trash"></i> Eliminar
          </button>

        </div>
      </div>
    </div>
    <div class="mb-3 row align-items-center">
      <div class="col-sm-12">
        <span class="form-text text-danger">
          Se prioriza repartir las fichas de menor valor
          {{ montoResidual }}
        </span>
        <button type="submit" class="btn btn-primary float-end">
          Repartir
        </button>
      </div>
    </div>
  </fieldset>
</form>
